*.iml
**/node_modules/
.vscode/**

**/npm-debug.log
bower_components/
coverage/
.idea/
dist/
test/1.2/test-specs-browser.js
test/2.0/test-specs-browser.js
test/*/browser
.tern-project
package-lock.json
.project
.settings/
src/generated/
src/typescript/
src/openapi/
delta-table/node/.tool-versions
